.jumbotron{
      background-color: darkblue;;
    color:#FFFFFF;
}
.box{
    border:1px solid #ccc;
    padding:20px;
}
/* .myJumbo{
	    margin-top: -72px;
} */
.myform{
	    margin-bottom: 72px;
}


 
